.container-search {
  color: white;
  font-size: 20px;
}

.container-search input {
  background-color: var(--brand_dark);
  border: none;
  color: white !important;
  width: 96%;
}

.container-search input:focus {
  background-color: var(--brand_dark);
}

.container-input-btn {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--dark_gray);
  padding: 10px;
  border-radius: 10px;
}

.btn-clear {
  background: none;
  border: none;
  border-radius: 4px;
}
